$mainWidth: 900px;

$cardWidth: 280px;
$cardHeight: 400px;

$S: 424px;
$M: 765px;
$L: 1068px;

$theme-color: blue;

$golden-ratio: 1.618;
$font-size: 8px;
$font-size-m: $font-size * $golden-ratio;
$font-size-l: $font-size-m * $golden-ratio;
